<div class="container">
  <div class="row">
    <div class="video-container col-md-8">
      <div class="embed-responsive embed-responsive-16by9" id="video-viewer">
        <iframe src='<%= @video %>' allowfullscreen></iframe>
      </div>
    </div>
    <div class="main-user-controls col-md-4 float-right">
      <%= link_to 'Accept', videos_accept_path, class: "btn btn-success btn-md", remote: true %>
      <%= form_for :video, url: videos_accept_path, method: 'get', remote: true do |f| %>
      <%= f.hidden_field(:dummy_data, value: 0) %>
      <%= f.submit "Accept", class: 'form-control btn btn-success btn-md btn-submit float-right'%>
      <% end %>
      <%= form_for :video, url: videos_reject_path, method: 'get', remote: true do |f| %>
      <%= f.hidden_field(:dummy_data, value: 0) %>
      <%= f.submit "Reject", class: 'form-control btn btn-danger btn-md btn-submit float-right'%>
      <% end %>
      <%= form_for :video, url: videos_retry_path, method: 'get', remote: true do |f| %>
      <%= f.hidden_field(:dummy_data, value: 0) %>
      <%= f.submit "Retry", class: 'form-control btn btn-warning btn-md btn-submit float-right'%>
      <% end %>
    </div>
  </div>
</div>
