<p>videos#viewer</p>
<%= @offset %>
<p><%= @video_list %></p>
<div class="container">
  <div class="row">
    <div class="video-container col-lg-8">
      <div class="embed-responsive embed-responsive-16by9" id="video-viewer">
        <iframe class='video-0' src='<%= @video %>' allowfullscreen></iframe>
      </div>
    </div>
    <div class="viewer-controls col-lg-4 float-right">
      <%= form_for :video, url: videos_accept_path, method: 'get', remote: true do |f| %>
        <%= f.hidden_field(:list, value: @video_list.join("\r\n")) %>
        <%= f.hidden_field(:offset, value: @offset) %>
        <%= f.hidden_field(:attempt_number, value: @attempt_number) %>
        <%= f.submit "Accept", class: 'form-control btn btn-success btn-md btn-submit float-right'%>
      <% end %>
      <%= form_for :video, url: videos_reject_path, method: 'get', remote: true do |f| %>
        <%= f.hidden_field(:list, value: @video_list.join("\r\n")) %>
        <%= f.hidden_field(:offset, value: @offset) %>
        <%= f.hidden_field(:attempt_number, value: @attempt_number) %>
        <%= f.submit "Reject", class: 'form-control btn btn-danger btn-md btn-submit float-right'%>
      <% end %>
      <%= form_for :video, url: videos_retry_path, method: 'get', remote: true do |f| %>
        <% @video_list.shift %>
        <%= f.hidden_field(:list, value: @video_list.join("\r\n")) %>
        <%= f.hidden_field(:offset, value: @offset) %>
        <div id="attempt-number-field">
          <%= f.hidden_field(:attempt_number, value: @attempt_number) %>
        </div>
        <%= f.submit "Retry", class: 'form-control btn btn-warning btn-md btn-submit float-right'%>
      <% end %>
    </div>
  </div>
</div>
