<!DOCTYPE html>
<html>
  <head>
    <title>ytar</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body
    <% if content_for?(:body_attributes) %>
      <%= yield(:body_attributes) %>
    <% end %>>
    <h1 class="site-header col-lg-4 offset-lg-3"><span class="header-yt">yt</span>ar</h1>
    <%= yield %>
  </body>
</html>
